.graybox {
    background: #f3f3f3 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: small;
    margin: 5px 0;
    padding: 10px;
}


    .graybox li .left {
        color: #555;
        float: left;
        font-weight: 600;
        margin: 0 15px 0 0;
        padding: 0;
        width: 40%;
    }

    .graybox li {
        display: inline-block;
        font-family: "Open Sans";
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .graybox ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

.scrollUpDown {
    overflow-y: auto;
}


.requiredFields:after {
    content: " *";
    color: red;
}
