@model IEnumerable<MCX.Models.Tables.Customers>
@using GridMvc.Html;
@{
    ViewBag.Title = "IndexMvcGrid";
}

<h2>IndexMvcGrid</h2>
<meta name="viewport" content="width=device-width" />
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

<div style="width:500px;">

    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.CustomerID).Titled("Client ID");
    columns.Add(c => c.FirstName).Titled("First Name").Filterable(true);
    columns.Add(c => c.LastName).Titled("Last Name");
    columns.Add(item => item.Email).Titled("Email");
    columns.Add(item => item.Mobile).Titled("Mobile");
    columns.Add(item => item.LeadSource.SourceName).Titled("SourceName");
    columns.Add(item => item.LeadStatu.LeadStatus).Titled("LeadStatus");
    columns.Add(item => item.Product.ProductName).Titled("ProductName");
    columns.Add(item => item.FollowUp).Titled("FollowUp");
    columns.Add(item => item.City).Titled("City");
    columns.Add(item => item.UserType).Titled("UserType");
    columns.Add(item => item.Investmentid).Titled("Investmentid");
}).WithPaging(3).Sortable(true).Selectable(true)

</div>
